#contact {
  background-color: var(--websiteBackground);
  padding: 6.25rem 3.75rem;
  .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .info {
      .cards {
        display: grid;
        grid-template-areas:
          "a b"
          "c d";
        grid-template-columns: repeat(2, calc(50% - 0.375rem));
        column-gap: 0.75rem;
        row-gap: 0.75rem;

        .card {
          display: flex;
          align-items: center;
          gap: 0.75rem;
          padding: 1rem;
          background-color: var(--background2);

          .icon-container {
            padding: 0.75rem;
            border-radius: 50%;
            background-color: var(--main-color);
            color: var(--websiteBackground);
            /* display: inline-block; */
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .content {
            h3 {
              font-size: 1.0625rem;
              font-weight: 700;
              color: var(--sec-text);
              margin-bottom: 0.5rem;
            }
            p {
              font-size: 0.875rem;
              font-weight: 500;
              color: var(--main-text);
            }
          }
        }
        .card:first-child {
          grid-area: a;
        }
        .card:nth-child(2) {
          grid-area: b;
        }
        .card:nth-child(3) {
          grid-area: c;
        }
        .card:last-child {
          grid-area: d;
        }
      }
    }
    form {
      padding: 1.5rem;
      display: flex;
      gap: 0.75rem;
      flex-direction: column;
      border: 0.125rem solid var(--border-color);
      background-color: var(--cards-background);
      input,
      textarea {
        border: 0.0625rem solid var(--border-color);
        padding: 1rem 0.75rem;
        font-size: 1rem;
        width: 100%;
        background-color: var(--cards-background);
      }
      .first {
        width: 100%;
        display: flex;
        gap: 0.75rem;
      }
      textarea {
        resize: vertical;
        height: 9.375rem;
      }
      input::placeholder,
      textarea::placeholder {
        color: var(--sec-text);
      }
      button {
        cursor: pointer;
        width: fit-content;
        background-color: var(--main-color);
        color: var(--cards-background);
        padding: 0.9375rem 3.5rem;
        border: none;
        border-radius: 3.125rem;
        font-size: 1.125rem;
        font-weight: 500;
        margin: auto;
        transition: background-color 0.3s;
      }
      button:hover {
        background-color: var(--main-text-hover);
      }
    }
  }
}



/* lg */
@media screen and (max-width: 1279px) {
  
}

/* md */
@media screen and (max-width: 1023px) {
 #contact{
   padding: 6.25rem 3.75rem;
 }
}

/* sm */
@media screen and (max-width: 767px) {
 #contact{
   padding: 6.25rem 3.75rem;
  .cards{
    .card{

      width: 100% !important;
    }

    grid-template-areas:
          "a"
          "b"
          "c"
          "d"!important;
    grid-template-columns: 100%!important;
  }
 }
}

/* default / xs */
@media screen and (max-width: 639px) {
  #contact{
    padding: 4rem 1.25rem;
    .first {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
      }
  }

}
