footer {
  z-index: 0;
  display: flex;
  grid-template-columns: repeat(3, 33.33%);
  position: relative;
  background-image: url(../images/footer.png);
  background-size: cover;
  .layer {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  padding: 3rem 3.75rem;
  .container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    h3 {
      font-size: 1.125rem;
      font-weight: 700;
      margin-bottom: 1.2rem;
      color: white;
    }
    & > .left {
      padding: 0 0.5rem 0 0;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 25%;
      .logo {
        display: flex;
        align-items: center;
        img {
          width: 3.125rem;
          height: 3.125rem;
        }
        p {
          font-size: 1.375rem;
          font-weight: 700;
          color: var(--main-color);
        }
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        color: white;
      }
      h4 {
        text-align: center;
        font-size: 1.25rem;
        color: white;
        padding-bottom: 0.5rem;
        border-bottom: 0.125rem solid rgb(106, 106, 106);
      }
      .socials {
        display: flex;
        padding: 0.75rem;
        font-size: 1.5rem;
        justify-content: space-evenly;
        a {
          color: white;
          transition: transform 0.3s;
        }
        a:hover {
          transform: scale(1.2);
        }
      }
    }
    .middle {
      padding: 0 0.5rem 0;
      width: 50%;

      display: flex;
      gap: 0.75rem;
      flex-direction: column;
      .top {
        color: white;
        p {
          font-size: 0.9375rem;
          font-weight: 500;
          margin-bottom: 0.625rem;
        }
      }
      form {
        display: flex;
        gap: 0.375rem;
        input {
          padding: 0.75rem 0.75rem;
          font-size: 1rem;
          width: 70%;
          margin-right: 0.25rem;
          transition: all 0.3s;
          cursor: pointer;
        }
        input:focus {
          outline: none;
          border: 0.125rem solid var(--main-color);
        }
        button {
          cursor: pointer;
          font-size: 1rem;
          padding: 0.75rem;
          width: 30%;
          background-color: var(--main-color);
          color: white;
          border: none;
          transition: background-color 0.3s;
        }
        button:hover {
          background-color: var(--main-text-hover);
        }
      }
      .bottom {
        gap: 0.75rem;
        color: white;
        a {
          color: white;
        }

        .links {
          display: flex;
          gap: 1rem;

          ul {
            width: 50%;
            li {
              font-size: 0.875rem;
              padding: 0.75rem;

              transition: transform 0.4s, background-color 0.1s;
            }
            li:hover {
              background-color: #252525;
              transform: translateX(0.5rem);
            }
          }
        }
      }
    }
    & > .right {
      padding-left: 0.5rem;
      width: 25%;
      display: flex;
      flex-direction: column;
      .item {
        display: flex;
        gap: 0.375rem;
        align-items: center;
        font-size: 1rem;
        color: white;
        margin-bottom: 0.875rem;
        i {
          font-size: 1.375rem;
          color: var(--main-color);
        }
      }
    }
  }
}

/* lg */
@media screen and (max-width: 1279px) {
  footer {
    .right {
      order: 1;
    }
    .middle {
      order: 3;
      margin-top: 1.5rem;
    }
    .right {
      order: 2;
    }
  }
}

/* md */
@media screen and (max-width: 1023px) {
}

/* sm */
@media screen and (max-width: 767px) {
}

/* default / xs */
@media screen and (max-width: 639px) {
  footer {
    padding: 6.25rem 1.25rem;
    .right {
      order: 1;
    }
    .middle {
      order: 2;
      
    }
    .right {
      order: 3;
      margin-top: 1.5rem;
    }
  }
}
