#galery {
  padding: 6.25rem 3.75rem;
  background-color: var(--background2);
  .img-container {
    height: 180vh;
    display: grid;
    gap: 1.25rem;
    grid-template-areas:
      "img-1 img-2 img-3"
      "img-1 img-2 img-3"
      "img-4 img-2 img-5"
      "img-4 img-2 img-5"
      "img-4 img-2 img-6"
      "img-4 img-7 img-6"
      ". img-7 img-6"
      ". img-7 .  ";
  }
  .card {
    border: .3125rem solid white;
    position: relative;
    z-index: 9;
    overflow: hidden;
  }
  .layer {
    background-color: rgb(0, 0, 0, 0.6);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 105%;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    transition: all 0.6s;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    .content {
      width: 95%;
      h3 {
        color: white;
        font-size: 1.375rem;
        font-weight: 700;
        margin-bottom: .75rem;
      }
      p {
        color: white;
        font-weight: 1.1875rem;
        font-weight: 500;
      }
    }
  }
  .card:hover .layer {
    inset: 0;
  }
  .g1 {
    grid-area: img-1;
    background-image: url(../images/galery1.png);
    background-size: cover;
  }

  .g2 {
    grid-area: img-2;
    background-image: url(../images/galery2.png);
    background-size: cover;
  }
  .g3 {
    grid-area: img-3;
    background-image: url(../images/galery3.png);
    background-size: cover;
  }
  .g4 {
    grid-area: img-4;
    background-image: url(../images/galery4.png);
    background-size: cover;
  }
  .g5 {
    grid-area: img-7;
    background-image: url(../images/galery5.png);
    background-size: cover;
  }
  .g6 {
    grid-area: img-5;
    background-image: url(../images/galery6.png);
    background-size: cover;
  }
  .g7 {
    grid-area: img-6;
    background-image: url(../images/galery7.png);
    background-size: cover;
  }
}




/* lg */
@media screen and (max-width: 1279px) {
  
}

/* md */
@media screen and (max-width: 1023px) {
  #galery{
    height: 375vh;

    .img-container{
      height: 300vh;
       grid-template-areas:
      "img-3 img-4"
      "img-3 img-4"
      "img-3 img-4"
      "img-3 img-4"
      "img-5 img-4"
      "img-5 img-4"
      "img-5 img-4"
      "img-5 img-4"
      "img-2 img-4"
      "img-2 img-1"
      "img-2 img-1"
      "img-2 img-1"
      "img-2 img-1"
      "img-2 img-1"
      "img-2 img-6"
      "img-2 img-6"
      "img-7 img-6"
      "img-7 img-6"
      "img-7 ."
      "img-7 .";
      
    }
  }
  
}

/* sm */
@media screen and (max-width: 767px) {
    #galery{
    padding: 100px 60px;
    height: 550vh;

    .img-container{
      height: 500vh;
       grid-template-areas:
        "img-1"
        "img-2"
        "img-3"
        "img-4"
        "img-5"
        "img-6"
        "img-7";
      
        grid-template-rows : 9fr 10fr 9fr 16fr 7fr 12fr 12fr;
    }
  }
}

/* default / xs */
@media screen and (max-width: 639px) {
  #galery{
     padding: 7rem 1.25rem;
  }
}

