header {
  background-color: var(--websiteBackground);
  border-bottom: 1px solid var(--border-color);

  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  padding: 16px 60px;
  z-index: 999;

  .container {
    gap: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      color: var(--main-color);
      img {
        width: 48px;
        height: 48px;
        margin-right: 8px;
      }
    }
    nav {
      ul {
        display: flex;
        column-gap: 24px;
        li {
          a {
            font-size: 17px;
            font-weight: 600;
            position: relative;
            color: var(--sec-text);
          }
          a:after {
            content: "";
            width: 0;
            height: 2px;
            background-color: var(--main-color);
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: width 0.3s;
          }
          a:hover {
            color: var(--main-color);
          }
          a:hover:after {
            width: 100%;
          }
        }
      }
    }
    .nav-menue {
      display: none;
      background-color: rgb(0, 0, 0, 0.6);
      backdrop-filter: blur(2px);
      position: fixed;
      inset: 0;
      .side-bar {
        padding: 12px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: var(--websiteBackground);
        .top {
          border-top: 2px solid var(--border-color);
          border-bottom: 2px solid var(--border-color);
          padding: 12px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .head {
            display: flex;
            align-items: center;
            img {
              width: 50px;
            }
            p {
              font-size: 24px;
              color: var(--main-color);
              font-weight: 700;
            }
          }

          a {
            font-size: 32px;
            cursor: pointer;
            color: var(--main-text);
          }
        }
        .bottom {
          margin-top: 24px;
          ul {
            li {
              padding: 12px 0;
              a {
                font-size: 18px;
                font-weight: 500;
                color: var(--sec-text);
                transition: color 0.3s;
              }
              a:hover {
                color: var(--main-color);
              }
            }
          }
        }
      }
    }
    .nav-menue:target {
      display: block;
    }
    .end {
      .content {
        display: flex;
        align-items: center;
        .toggle {
          input {
            display: none;
          }
          label {
            cursor: pointer;
            font-size: 24px;
            transition: transform 0.3s;
            display: inline-block;
          }
          label:hover {
            transform: scale(1.3);
          }
        }
        .bars {
          background-color:blueviolet;
          display: none;
          padding:0 0 0 12px;
          font-size: 24px;
          background-color: var(--websiteBackground);
          color: var(--main-text);
          font-weight: 800;
        }
      }
    }
  }
}
header .end .content .bars:target ~ .nav-menue {
  display: block;
}

/* lg */
@media screen and (max-width: 79.9375rem) {
  header {
    .container {
      nav {
        display: none;
      }
      .end {
        .content {
          .bars {
            display: inline-block;
          }
        }
      }
    }
  }
}

/* md */
@media screen and (max-width: 63.9375rem) {
  header{
    padding:16px 60px;
  }
}

/* sm */
@media screen and (max-width: 47.9375rem) {
}

/* default / xs */
@media screen and (max-width: 39.9375rem) {
  header{
    padding: 16px 20px;
  }
}
