#hero {
  background-color: var(--background2);
  padding-block: blue;
   padding: 7.75rem 3.75rem;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    gap: 1.25rem;

    .left {

      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-family: "Pacifico", cursive;
        font-size: 2.5rem;
        color: var(--main-text);
        margin-bottom: .75rem;
      }
      p {
        font-size: 1.125rem;
        font-weight: 500;
        color: var(--sec-text);
        margin-bottom: 3rem;
      }
      .buttons {
        display: flex;
        button {
          cursor: pointer;
          padding: .75rem 1.5rem;
          background-color: var(--main-color);
          font-size: 1.125rem;
          font-weight: 500;
          border: none;
          border-radius: 3.125rem;
          border-top-left-radius: 0rem;
          margin-right: 1rem;
          a {
            color: var(--cards-background);
          }
        }
        button:hover {
          background-color: var(--main-text-hover);
        }
        & > a {
          cursor: pointer;
          display: flex;
          align-items: center;
          color: var(--main-text);
          & > span {
            color: var(--main-text);
            font-size: 1.125rem;
            font-weight: 500;
          }

          .icon-container {
            padding: .125rem;
            color: var(--main-color);
            font-size: 2rem;
            color: var(--main-text);
            border-radius: 50%;
            position: relative;
            z-index: 2;

            i {
              color: var(--main-text);
            }
          }
          .icon-container::after {
            content: "";
            z-index: -2;
            position: absolute;
            top: 0rem;
            left: 0rem;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            border: .625rem solid var(--main-color);
            border-right-color: transparent;
            border-top-color: transparent;
            transform: rotate(45deg);
          }
        }
        & > a:hover span {
          color: var(--main-color);
        }
      }
    }
    .right {

      width: 40%;
      img {
        height: 80%;
        border-radius: 50%;
      }
      img:hover {
        animation: shake 0.6s ease-in-out infinite;
        box-shadow: 0 0 .75rem .0625rem var(--shadow-text);
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* lg */
@media screen and (max-width: 1279px) {
  
}

/* md */
@media screen and (max-width: 1023px) {
 #hero{
   .container{
 
    
    flex-direction: column-reverse;
    gap:32px;
    .left{
      text-align: center;
      .buttons{
        justify-content: center;
      }
    }
  }
 }
}

/* sm */
@media screen and (max-width: 767px) {
  #hero{
    padding: 6.25rem 3.75rem;
  }
 
}

/* default / xs */
@media screen and (max-width: 639px) {
  #hero{

    padding: 7rem 1.25rem;

  }
}
